body{
    color: rgb(66, 58, 58);
    text-align: center;
    font-family: "Arial";
}

.container{
    border: 1px solid red;
    margin: 5px auto;
    padding: 10px;
    text-align: center;
    width: 90%;
    background-color: #3A4E7A;
    color:white;
}

.cabecera{
    background-color: skyblue;
    text-align: inherit;
    padding: inherit;
    margin: inherit;
    width: 60%;
    font-size: 30px;
    
}

.container h1 {
    color: black;
    font-size: 25px;

}

.container strong {
    color: darkblue;
    font-size: 25px;
    
}

.contenido{
    border: 1px solid red;
    margin: 5px auto;
    padding: 10px;
    text-align: center;
    width: 90%;
    background-color: #3A4E7A;
    color:whitesmoke;
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.5);

}
.contenido strong {
    color: skyblue;
    font-weight: bold;
}